a.DadBtn {
  border: 0px solid #000000;
  background-color: #ffccff;
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
a.DadBtn:hover {
  background-color: #ffccff;
}
a.MomBtn {
  border: 0px solid #000000;
  background-color: #ccffff;
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
a.MomBtn:hover {
  background-color: #99ffcc;
}
a.ChasBtn {
  border: 0px solid #000000;
  background-color: #ccffff;
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
a.ChasBtn:hover {
  background-color: #99ffcc;
}
a.TimBtn {
  border: 0px solid #000000;
  background-color: #ccffff;
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
a.TimBtn:hover {
  background-color: #99ffcc;
}
a.PetsBtn {
  border: 0px solid #000000;
  background-color: #ccffff;
  cursor: default;
  display: block;
  font-family: MS Sans Serif, Arial, Tahoma,sans-serif;
  font-size: 8pt;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
}
a.PetsBtn:hover {
  background-color: #99ffcc;
}
p {color: LightCyan}
